.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
}

.nav-items {
  margin: 0 25px;
}
.nav-items a {
  color: white;
  text-decoration: none;
}

.nav-items a:hover {
  background-color: #d9390d;
  color: white;
}

@media only screen and (max-width: 400px) {
  .nav-flex {
    font-size: 18px;
  }
  .nav-items {
    margin: 5px 16px;
  }
}

@media only screen and (max-width: 950px) {
  .nav-flex {
    font-size: 20px;
  }
  .nav-items {
    margin: 0 16px;
  }
}