.sub-page-body {
  margin: 10px;
}

.sub-page-header {
  font-family: "Crushed", cursive;
  font-size: 40px;
  border-radius: 5px;
}

.sub-section {
  margin-top: 10px;
  padding: 20px;
  background-color: #f0f0dc;
  border-radius: 5px;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
}

.sub-header {
  font-family: "Crushed", cursive;
  font-size: 30px;
}

.sub-form {
  background-color: #f0f0dc;
  border-radius: 5px;
}

.sub-card {
  margin: 20px 10px;
  border-radius: 5px;
  width: 15rem;
}

.card-title {
  font-size: 16px;
}

.form-input {
  width: 50%;
}

.form-input2 {
  width: 100%;
}

#card1 {
  width: 100%;
}

.delete-button {
  display: flex;
  justify-content: flex-end;
}
