.btn {
  font-family: "Arsenal", sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 10px;
}

.sub-page-body {
  margin: 10px;
}

.sub-page-header {
  font-family: "Crushed", cursive;
  font-size: 40px;
  border-radius: 5px;
}

.sub-section {
  margin-top: 10px;
  padding: 20px;
  background-color: #f0f0dc;
  border-radius: 5px;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
}

.sub-header {
  font-family: "Crushed", cursive;
  font-size: 26px;
}

.sub-form {
  background-color: #f0f0dc;
  border-radius: 5px;
}

.sub-card {
  margin: 20px 10px;
  border-radius: 5px;
  width: 15rem;
  box-shadow: 2px 3px 5px #4f4f4f;
}

.chat-div {
  margin: 20px;
}

.gift-section {
  width: 100%;
}

.gift-page-flex {
  display: flex;
  width: 100%;
}

.gift-list-div {
  width: 50%;
}

.gift-card {
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 2px 3px 5px #4f4f4f;
}

.card-title {
  font-size: 16px;
}

.form-input {
  width: 30%;
}

.form-input2 {
  width: 100%;
}

#card1 {
  width: 100%;
}

.font-awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 18px;
  height: 18px;
}

.delete-button:hover,
.fa-friend-minus-div:hover, 
.fa-gift-return:hover {
  box-shadow: 2px 2px 5px #4f4f4f;
  background-color: #dd2623;
  color: white;
}

.fa-list-div,
.fa-friend-add-div,
.fa-friend-minus-div,
.fa-gift-select,
.fa-gift-return {
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 32px;
  height: 32px;
}

.fa-address-card {
  font-size: 18px;
}

.fa-list-div:hover,
.fa-friend-add-div:hover,
.fa-gift-select:hover {
  box-shadow: 2px 2px 5px #4f4f4f;
  background-color: #4389cc;
  color: white;
}

.fa-gift-select, .fa-gift-return {
  font-size: 24px
}

.fa-check-div {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.fa-gift-link {
  color: #007a02;
  text-decoration: none;
}
