header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top right, #b7beff, black);
    color: white;
}

.title {
    font-family: 'Crushed', cursive;
    font-size: 80px;
    padding: 20px;
}

.login-status {
    align-self: flex-end;
    padding: 20px
}