.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: linear-gradient(to top right, #b7beff, black);
  }

header {
    color: white;
}

.title {
    font-family: 'Crushed', cursive;
    font-size: 35px;
    margin: 0 5px;
}

@media only screen and (max-width: 525px) {
    header {
      display: none;
    }
  }