.content-give {
  margin: 10px;
}

.give-flex {
    display: flex;
    flex-wrap: wrap;
}

.give-section {
    width: 60%;
}

.chat-messages {
    width: 35%;
}

.list-header {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
}